@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --muted: #6b7280;
  --hover: #000000;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --muted: #a3a3a3;
  --hover: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-muted: var(--muted);
  --color-hover: var(--hover);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
